In [1]:
import pandas as pd

In [2]:
consumption = pd.read_csv('export_ConsumptionDemand_2022-09-22_19_42.csv',delimiter=';',)
peakConsumption = consumption['value'].max(axis = 0)
peakConsumption
consumption['value']=consumption['value'].div(peakConsumption)
normalisedConsumption = consumption.drop(columns=['id','name','geoid','geoname'])
normalisedConsumption.to_csv('normalisedConsumption.csv')
normalisedConsumption

         value                   datetime
0     0.693199  2019-07-01T00:00:00+02:00
1     0.649871  2019-07-01T01:00:00+02:00
2     0.616383  2019-07-01T02:00:00+02:00
3     0.603692  2019-07-01T03:00:00+02:00
4     0.601464  2019-07-01T04:00:00+02:00
...        ...                        ...
2203  0.780639  2019-09-30T19:00:00+02:00
2204  0.826588  2019-09-30T20:00:00+02:00
2205  0.810221  2019-09-30T21:00:00+02:00
2206  0.730534  2019-09-30T22:00:00+02:00
2207  0.665717  2019-09-30T23:00:00+02:00

[2208 rows x 2 columns]

In [5]:
print(normalisedConsumption['value'].max(axis = 0) == 1)
a=list(range(0,10,1))
a
consumption.drop

True

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]